.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(70vw, 23vh, 50px);
            transform: translate3d(70vw, 23vh, 50px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(70vw, 23vh, 50px);
            transform: translate3d(70vw, 23vh, 50px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.32;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(67vw, 56vh, 16px);
          transform: translate3d(67vw, 56vh, 16px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(88vw, 83vh, 35px);
            transform: translate3d(88vw, 83vh, 35px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(88vw, 83vh, 35px);
            transform: translate3d(88vw, 83vh, 35px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.39;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(58vw, 77vh, 32px);
          transform: translate3d(58vw, 77vh, 32px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(35vw, 34vh, 6px);
            transform: translate3d(35vw, 34vh, 6px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(35vw, 34vh, 6px);
            transform: translate3d(35vw, 34vh, 6px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 1;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(7vw, 83vh, 32px);
          transform: translate3d(7vw, 83vh, 32px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(89vw, 2vh, 40px);
            transform: translate3d(89vw, 2vh, 40px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(89vw, 2vh, 40px);
            transform: translate3d(89vw, 2vh, 40px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.91;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(50vw, 39vh, 77px);
          transform: translate3d(50vw, 39vh, 77px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(30vw, 64vh, 12px);
            transform: translate3d(30vw, 64vh, 12px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(30vw, 64vh, 12px);
            transform: translate3d(30vw, 64vh, 12px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.23;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(69vw, 5vh, 82px);
          transform: translate3d(69vw, 5vh, 82px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(38vw, 86vh, 10px);
            transform: translate3d(38vw, 86vh, 10px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(38vw, 86vh, 10px);
            transform: translate3d(38vw, 86vh, 10px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.98;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(6vw, 59vh, 57px);
          transform: translate3d(6vw, 59vh, 57px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(14vw, 41vh, 59px);
            transform: translate3d(14vw, 41vh, 59px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(14vw, 41vh, 59px);
            transform: translate3d(14vw, 41vh, 59px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.91;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(86vw, 76vh, 99px);
          transform: translate3d(86vw, 76vh, 99px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(77vw, 5vh, 36px);
            transform: translate3d(77vw, 5vh, 36px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(77vw, 5vh, 36px);
            transform: translate3d(77vw, 5vh, 36px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.87;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(79vw, 85vh, 9px);
          transform: translate3d(79vw, 85vh, 9px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(36vw, 22vh, 97px);
            transform: translate3d(36vw, 22vh, 97px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(36vw, 22vh, 97px);
            transform: translate3d(36vw, 22vh, 97px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.89;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(28vw, 59vh, 22px);
          transform: translate3d(28vw, 59vh, 22px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(18vw, 18vh, 32px);
            transform: translate3d(18vw, 18vh, 32px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(18vw, 18vh, 32px);
            transform: translate3d(18vw, 18vh, 32px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.84;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(74vw, 42vh, 45px);
          transform: translate3d(74vw, 42vh, 45px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(25vw, 63vh, 29px);
            transform: translate3d(25vw, 63vh, 29px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(25vw, 63vh, 29px);
            transform: translate3d(25vw, 63vh, 29px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.81;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(46vw, 7vh, 29px);
          transform: translate3d(46vw, 7vh, 29px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(44vw, 52vh, 15px);
            transform: translate3d(44vw, 52vh, 15px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(44vw, 52vh, 15px);
            transform: translate3d(44vw, 52vh, 15px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.73;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(69vw, 61vh, 44px);
          transform: translate3d(69vw, 61vh, 44px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(25vw, 9vh, 16px);
            transform: translate3d(25vw, 9vh, 16px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(25vw, 9vh, 16px);
            transform: translate3d(25vw, 9vh, 16px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.03;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(74vw, 55vh, 28px);
          transform: translate3d(74vw, 55vh, 28px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(20vw, 27vh, 49px);
            transform: translate3d(20vw, 27vh, 49px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(20vw, 27vh, 49px);
            transform: translate3d(20vw, 27vh, 49px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.6;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(13vw, 52vh, 65px);
          transform: translate3d(13vw, 52vh, 65px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(84vw, 27vh, 26px);
            transform: translate3d(84vw, 27vh, 26px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(84vw, 27vh, 26px);
            transform: translate3d(84vw, 27vh, 26px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.9;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(23vw, 54vh, 65px);
          transform: translate3d(23vw, 54vh, 65px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(58vw, 3vh, 26px);
            transform: translate3d(58vw, 3vh, 26px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(58vw, 3vh, 26px);
            transform: translate3d(58vw, 3vh, 26px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.29;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(77vw, 10vh, 44px);
          transform: translate3d(77vw, 10vh, 44px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(17vw, 56vh, 96px);
            transform: translate3d(17vw, 56vh, 96px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(17vw, 56vh, 96px);
            transform: translate3d(17vw, 56vh, 96px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.77;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(13vw, 21vh, 24px);
          transform: translate3d(13vw, 21vh, 24px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(27vw, 23vh, 90px);
            transform: translate3d(27vw, 23vh, 90px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(27vw, 23vh, 90px);
            transform: translate3d(27vw, 23vh, 90px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.93;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(23vw, 54vh, 88px);
          transform: translate3d(23vw, 54vh, 88px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(80vw, 3vh, 79px);
            transform: translate3d(80vw, 3vh, 79px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(80vw, 3vh, 79px);
            transform: translate3d(80vw, 3vh, 79px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.65;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(75vw, 24vh, 40px);
          transform: translate3d(75vw, 24vh, 40px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(86vw, 80vh, 89px);
            transform: translate3d(86vw, 80vh, 89px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(86vw, 80vh, 89px);
            transform: translate3d(86vw, 80vh, 89px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.63;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(36vw, 5vh, 69px);
          transform: translate3d(36vw, 5vh, 69px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(88vw, 77vh, 28px);
            transform: translate3d(88vw, 77vh, 28px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(88vw, 77vh, 28px);
            transform: translate3d(88vw, 77vh, 28px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.92;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(52vw, 32vh, 83px);
          transform: translate3d(52vw, 32vh, 83px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(85vw, 88vh, 15px);
            transform: translate3d(85vw, 88vh, 15px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(85vw, 88vh, 15px);
            transform: translate3d(85vw, 88vh, 15px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.07;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(16vw, 78vh, 15px);
          transform: translate3d(16vw, 78vh, 15px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(57vw, 89vh, 11px);
            transform: translate3d(57vw, 89vh, 11px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(57vw, 89vh, 11px);
            transform: translate3d(57vw, 89vh, 11px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.81;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(60vw, 74vh, 26px);
          transform: translate3d(60vw, 74vh, 26px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(89vw, 43vh, 75px);
            transform: translate3d(89vw, 43vh, 75px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(89vw, 43vh, 75px);
            transform: translate3d(89vw, 43vh, 75px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.86;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(30vw, 64vh, 94px);
          transform: translate3d(30vw, 64vh, 94px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(8vw, 54vh, 14px);
            transform: translate3d(8vw, 54vh, 14px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(8vw, 54vh, 14px);
            transform: translate3d(8vw, 54vh, 14px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.31;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(66vw, 60vh, 73px);
          transform: translate3d(66vw, 60vh, 73px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(17vw, 86vh, 87px);
            transform: translate3d(17vw, 86vh, 87px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(17vw, 86vh, 87px);
            transform: translate3d(17vw, 86vh, 87px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.18;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(41vw, 11vh, 22px);
          transform: translate3d(41vw, 11vh, 22px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(52vw, 73vh, 25px);
            transform: translate3d(52vw, 73vh, 25px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(52vw, 73vh, 25px);
            transform: translate3d(52vw, 73vh, 25px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.04;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(18vw, 75vh, 21px);
          transform: translate3d(18vw, 75vh, 21px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(48vw, 59vh, 93px);
            transform: translate3d(48vw, 59vh, 93px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(48vw, 59vh, 93px);
            transform: translate3d(48vw, 59vh, 93px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.46;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(72vw, 79vh, 70px);
          transform: translate3d(72vw, 79vh, 70px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(34vw, 39vh, 60px);
            transform: translate3d(34vw, 39vh, 60px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(34vw, 39vh, 60px);
            transform: translate3d(34vw, 39vh, 60px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.25;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(9vw, 68vh, 33px);
          transform: translate3d(9vw, 68vh, 33px);
  background: #00bbff;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(48vw, 47vh, 35px);
            transform: translate3d(48vw, 47vh, 35px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(48vw, 47vh, 35px);
            transform: translate3d(48vw, 47vh, 35px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.43;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(71vw, 17vh, 84px);
          transform: translate3d(71vw, 17vh, 84px);
  background: #00bbff;
}
